@import "../../../custom.scss";
.counter {
  text-decoration: underline;
  text-align: center;
  color: $color-primary;
  font-family: dubielItalic, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
  font-size: 1.6rem;
}
