@import "../../../custom.scss";
.container {
  margin: 4rem 5.3rem;
  border: $color-secondary inset 0.5rem !important;
  width: 15vw;
  background-color: $color-primary !important;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.content {
  text-align: center;
  color: $color-yellow !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &-title {
    text-decoration: underline;
    font-size: 1.5rem;
    margin: 0.5rem;
    font-family: dubielItalic, Arial (sans-serif), Arial Black (sans-serif),
      Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
      Impact (sans-serif), Gill Sans (sans-serif);
  }
  &-description,
  &-description-metal {
    font-family: dubielItalic, Arial (sans-serif), Arial Black (sans-serif),
      Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
      Impact (sans-serif), Gill Sans (sans-serif);
    font-size: 1.2rem;
  }
  &-description {
    margin: 1rem;
  }
  &-price {
    font-size: 1.5rem;
    font-family: Garamond, Arial (sans-serif), Arial Black (sans-serif),
      Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
      Impact (sans-serif), Gill Sans (sans-serif);
  }
  &-button {
    font-family: dubielItalic, Arial (sans-serif), Arial Black (sans-serif),
      Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
      Impact (sans-serif), Gill Sans (sans-serif);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: $color-yellow;
    background-color: $color-primary;
    &:hover {
      color: $color-primary;
      background-color: $color-yellow;
    }
    &:active {
      color: $color-green;
      background-color: $color-purple;
    }
  }
}
.image {
  width: 18rem;
  text-align: center;
}
.spinner {
  margin: 4rem 4rem 4rem 5rem;
  text-align: center;
  border: 16px solid $color-secondary;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: rotate 2s infinite linear;
}
