@import "../../../custom.scss";
header {
  width: 100vw;
  opacity: 0.9;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  z-index: 100;
  font-family: dagtton, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
  nav {
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    height: 8rem;
    margin: 0.5rem;
  }
  .nav {
    &__list {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin-right: 20rem;
    }
    &__item {
      font-size: 2rem;
      font-weight: bolder;
      margin: 0 1rem 1.5rem 1rem;
      cursor: pointer;
      text-decoration: underline;
      color: $color-yellow;
      a:link,
      a:visited {
        color: $color-yellow;
        text-decoration: none;
      }
      a:hover {
        color: $color-white;
        text-decoration: underline;
      }
      a:active {
        color: $color-green;
        text-decoration: underline;
      }
    }
  }
}
