$color-primary: #343434;
$color-secondary: #93642a;
$color-yellow: #d3bd73;
$color-white: white;
$color-green: #3ff306;
$color-purple: #9639b8;
$color-grey: #4e4f4d67;
main {
  margin-top: 10rem;
}
@font-face {
  font-family: "dagtton";
  src: url(../src/assets/fonts/Dagtton.ttf);
}
@font-face {
  font-family: "dubielItalic";
  src: url(../src/assets/fonts/DubielItalic.ttf);
}
@font-face {
  font-family: "dubielPlain";
  src: url(../src/assets/fonts/DubielPlain.ttf);
}
footer {
  font-family: dubielItalic, Arial (sans-serif), Arial Black (sans-serif),
    Verdana (sans-serif), Tahoma (sans-serif), Trebuchet MS (sans-serif),
    Impact (sans-serif), Gill Sans (sans-serif);
  display: flex;
  justify-content: space-around;
  background-color: $color-secondary;
  color: $color-primary;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
